body{
    text-align: center;
    margin: 0;
    font-family:Arial, sans-serif;
}

.body{
    position:relative;
    min-height: 630px;
}

.icon{
    font-size: 2em;
    cursor: pointer;
    border:solid 1px;
    border-radius: 45px;
    user-select: none;
}

.icon:hover{
    background-color: gray;
    color:white;
    border-color: gray;
}

.icon#help {
    position: absolute;
    left:20px;
    top:10px;
    padding:0 10px;
}

.icon#info{
    position: absolute;
    right:20px;
    top:10px;
    padding:0 14px;
}

#custom-alert{
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    color: white;
    display: inline-block;
    margin:2px
}

#table{
    max-width: 300px;
    margin: 10px auto;
    font-size: 1em;
    user-select: none;

    display: grid;
    grid-template-columns:  auto auto auto auto auto;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-gap: 10px;
}

#table div{
    border:solid 1px;
    border-radius: 1px;
    padding:15px 0;
    width: 50px;
    font-weight:bold;
}

.info-container{
    position:absolute;
    top:67px;
    left:0;
    font-size:16px;
    background-color: whitesmoke;
    width: 100%;
    min-height: calc(100vh - 67px);
}

#footer{
    background-color: #1c1d20;
    padding: 10px 0;
    color: gray;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.rule-container{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top:0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#rule{
    text-align: left;
    background-color: whitesmoke;
    display: block;
    margin:min(17vh,calc(50vh - 125px)) auto 0 auto;
    padding: 10px;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

@keyframes fade-in {
    0%{
        opacity: 1;
        background-color: black;
    }
    100%{
        background-color: white;
        opacity: 0;
    }
}
@keyframes fade-out {
    0%{
        opacity: 0;
        background-color: white;
    }
    100%{
        background-color: black;
        opacity: 1;
    }
}