{% extends 'layout.html' %}


{% block timer %}
<h3 style="font-weight: normal;margin:0;">The word will update after</h3>
<h3 id="timer" style="margin:0;">{{time}}</h3>
{% endblock timer %}

{% block custom-alert-container %}
  <div id="custom-alert-container" style="height: 30px;padding:18px"></div>
{% endblock custom-alert-container %}

{% block body %}
    <div id="table">
        {% for i in range %}
        <div id="cell-{{i}}"></div>
        {% endfor %}
    </div>

    <div class="keyboard">
        <div class="row alphaUpperLine">
          <div class="q" onclick="enter_key(this.innerHTML)">Q</div>
          <div class="w" onclick="enter_key(this.innerHTML)">W</div>
          <div class="e" onclick="enter_key(this.innerHTML)">E</div>
          <div class="r" onclick="enter_key(this.innerHTML)">R</div>
          <div class="t" onclick="enter_key(this.innerHTML)">T</div>
          <div class="y" onclick="enter_key(this.innerHTML)">Y</div>
          <div class="u" onclick="enter_key(this.innerHTML)">U</div>
          <div class="i" onclick="enter_key(this.innerHTML)">I</div>
          <div class="o" onclick="enter_key(this.innerHTML)">O</div>
          <div class="p" onclick="enter_key(this.innerHTML)">P</div>
        </div>

        <div class="row alphaMiddleLine">
          <div class="extra-space"></div>
          <div class="a" onclick="enter_key(this.innerHTML)">A</div>
          <div class="s" onclick="enter_key(this.innerHTML)">S</div>
          <div class="d" onclick="enter_key(this.innerHTML)">D</div>
          <div class="f" onclick="enter_key(this.innerHTML)">F</div>
          <div class="g" onclick="enter_key(this.innerHTML)">G</div>
          <div class="h" onclick="enter_key(this.innerHTML)">H</div>
          <div class="j" onclick="enter_key(this.innerHTML)">J</div>
          <div class="k" onclick="enter_key(this.innerHTML)">K</div>
          <div class="l" onclick="enter_key(this.innerHTML)">L</div>
          <div class="extra-space"></div>
        </div>

        <div class="row alphaLowerLine">
          <div class="enter" onclick="enter_key(this.innerHTML)">Enter</div>
          <div class="z" onclick="enter_key(this.innerHTML)">Z</div>
          <div class="x" onclick="enter_key(this.innerHTML)">X</div>
          <div class="c" onclick="enter_key(this.innerHTML)">C</div>
          <div class="v" onclick="enter_key(this.innerHTML)">V</div>
          <div class="b" onclick="enter_key(this.innerHTML)">B</div>
          <div class="n" onclick="enter_key(this.innerHTML)">N</div>
          <div class="m" onclick="enter_key(this.innerHTML)">M</div>
          <div class="backspace" onclick="enter_key(this.innerHTML)">DEL</div>
        </div>
      </div>
    </div>

    <script>
      setInterval(() => {
    let timer = document.querySelector('#timer');
    
    let sec = parseInt(timer.innerHTML.substr(10,2)) - 1;
    let min = parseInt(timer.innerHTML.substr(4,2));
    let hours = parseInt(timer.innerHTML.substr(0,2));


    if (sec <= 0){
        sec = 59;
        min--;
    }
    if (min < 0){
        min = 59;
        hours--;
    }

    if (hours < 0){
        location.reload();
    } 

    if (sec < 10)
        sec = "0" + sec;
    if (min < 10)
        min = "0" + min;
    if (hours < 10)
        hours = "0" + hours;

    timer.innerHTML = hours + "h " + min + "min " + sec + "sec";
}, 1000);
    </script>
{% endblock body %}
{% block mode %}Unlimited words{% endblock mode %}