{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess word</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'keyboard.css' %}">
</head>
<body>
    <h1 style="margin:10px 0"><a href="/" style="text-decoration: none;color:black">Guess word</a></h1>
    <b  class="icon" id="help" onclick="show_hide_rule_view()">?</b>
    <b  class="icon" id="info" onclick="show_hide_info_view()">i</b>
    <hr>

    <div class="body">
        <h3 style="font-weight: normal;margin:0;">The word will update after</h3>
        {% block timer %}{% endblock timer %}
        <div id="custom-alert-container" style="height: 30px;padding:18px">
        </div>
        {% block body %}{% endblock body %}
    </div>

    <div class="info-container" style="display:none">
      <h2>About me</h2>
          My name is Zhong and I'm a student at The Manchester College. <br>
          During my free time, I did this website which is inspired by <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank">wordle</a>. <br>
          I've also done some other projects (click <a href="https://github.com/LucaYan0506" target="_blank">here</a> to see my projects). <br>
          I've studied data structure and algorithms on <a href="https://leetcode.com/lucayan0506/" target="_blank">leetcode</a> since 2021.<br>
          If you want to know more about me, check my <b><a href="https://www.linkedin.com/in/zhongyi-yan/" target="_blank">LinkedIn<a></b> account.<br>
          Click <a href="#" onclick="open_windows()" target="_blank">here</a> if you want to support this website & my other projects. <br><br>

          Thank you for using my website. <br><br>

          If you have any suggestion or comments about it, pls contact me:<br>
          <a href="mailto:lucayan0506@gmail.com">Zhong: lucayan0506@gmail.com</a>
      <div id="footer">
          <a href="https://leetcode.com/lucayan0506/" target="_blank"><img src="https://api.iconify.design/simple-icons/leetcode.svg?width=48" alt="leetcode"></a>
          <a href="https://github.com/LucaYan0506/guess-word" target="_blank"><img src="https://ytmp3.herokuapp.com/static/github.png" alt="github"></a>
          <a href="https://www.linkedin.com/in/zhongyi-yan/" target="_blank"><img src="https://ytmp3.herokuapp.com/static/linkedin.png" alt="linkedin"></a>
          <img style="cursor:pointer" src="https://img.icons8.com/ios-filled/50/000000/donation.png" onclick="open_windows()"/>
          <br><br>
          ©Copyright yancompany. All Rights Reserved. <br>
          Design by Zhong Yi Yan
      </div>
    </div>

    <div class="rule-container" style="display:none">
      <div id="rule">
          <label onclick="show_hide_rule_view()" style="cursor: pointer;position:absolute;right: 15px;user-select: none;">X</label>
          <br>
          You have 6 changes to guess the correct word. <br>
          Each guess must be a valid 5-letter English word. <br><br>
          After each guess we will give you some suggestion: <br>
          <img src="{% static 'Example1.jpg' %}" style="width:100%;max-width: 307px;"><br>
          The letter <b>W</b> is in the <i>word</i> and in the correct position.
          <img src="{% static 'Example2.jpg' %}" style="width:100%;max-width: 307px;"><br>
          The letter <b>O</b> is in the <i>word</i> but in the wront position.
          <img src="{% static 'Example3.jpg' %}" style="width:100%;max-width: 307px;"><br>
          The letter <b>T</b> is not in the <i>word</i>.<br><br>
      </div>
    </div>

    <div class="keyboard">
        <div class="row alphaUpperLine">
          <div class="q" onclick="enter_key(this.innerHTML)">Q</div>
          <div class="w" onclick="enter_key(this.innerHTML)">W</div>
          <div class="e" onclick="enter_key(this.innerHTML)">E</div>
          <div class="r" onclick="enter_key(this.innerHTML)">R</div>
          <div class="t" onclick="enter_key(this.innerHTML)">T</div>
          <div class="y" onclick="enter_key(this.innerHTML)">Y</div>
          <div class="u" onclick="enter_key(this.innerHTML)">U</div>
          <div class="i" onclick="enter_key(this.innerHTML)">I</div>
          <div class="o" onclick="enter_key(this.innerHTML)">O</div>
          <div class="p" onclick="enter_key(this.innerHTML)">P</div>
        </div>

        <div class="row alphaMiddleLine">
          <div class="extra-space"></div>
          <div class="a" onclick="enter_key(this.innerHTML)">A</div>
          <div class="s" onclick="enter_key(this.innerHTML)">S</div>
          <div class="d" onclick="enter_key(this.innerHTML)">D</div>
          <div class="f" onclick="enter_key(this.innerHTML)">F</div>
          <div class="g" onclick="enter_key(this.innerHTML)">G</div>
          <div class="h" onclick="enter_key(this.innerHTML)">H</div>
          <div class="j" onclick="enter_key(this.innerHTML)">J</div>
          <div class="k" onclick="enter_key(this.innerHTML)">K</div>
          <div class="l" onclick="enter_key(this.innerHTML)">L</div>
          <div class="extra-space"></div>
        </div>

        <div class="row alphaLowerLine">
          <div class="enter" onclick="enter_key(this.innerHTML)">Enter</div>
          <div class="z" onclick="enter_key(this.innerHTML)">Z</div>
          <div class="x" onclick="enter_key(this.innerHTML)">X</div>
          <div class="c" onclick="enter_key(this.innerHTML)">C</div>
          <div class="v" onclick="enter_key(this.innerHTML)">V</div>
          <div class="b" onclick="enter_key(this.innerHTML)">B</div>
          <div class="n" onclick="enter_key(this.innerHTML)">N</div>
          <div class="m" onclick="enter_key(this.innerHTML)">M</div>
          <div class="backspace" onclick="enter_key(this.innerHTML)">DEL</div>
        </div>
      </div>
    </div>

    <script src="{% static 'index.js'%}"></script>
    <script src="{% static 'keyboard.js'%}"></script>
</body>
</html>