{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="-yXObPkk8-3QAsrffIYsO4py50-4HEpHDXr8BX0nEko" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess word</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'keyboard.css' %}">
    {% block extra-style  %}

    {% endblock extra-style %}
</head>
<body>
    <h1 style="margin:10px 0;margin-left:50px"><a href="/" style="text-decoration: none;color:black;">{% block h1 %}Guess today word{% endblock h1 %}</a></h1>
    <img src="{% static 'Hamburger_icon.png' %}" id="Hamburger-menu" style="display:none;" onclick="show_hide_menu_view()"></img>

    <b  class="icon" id="help" onclick="show_hide_rule_view()">?</b>
    <b  class="icon" id="info" onclick="show_hide_info_view()">i</b>
    <b  class="icon" id="support" onclick="open_windows()"></b>
    <b  class="icon" id="more" onclick="guess_more_option()"></b>
    <hr>

    <div class="body">
        {% block timer %}{% endblock timer %}
        {% block custom-alert-container %}{% endblock custom-alert-container %}
        {% block body %}{% endblock body %}
    </div>

    {% block body2 %}{% endblock body2 %}

    <div class="rule-container" style="display:none">
      <div id="rule">
          <label onclick="show_hide_rule_view()" style="cursor: pointer;position:absolute;right: 15px;user-select: none;">X</label>
          <br>
          You have 6 changes to guess the correct word. <br>
          Each guess must be a valid 5-letter English word. <br><br>
          After each guess we will give you some suggestion: <br>
          <img src="{% static 'Example1.jpg' %}" style="width:100%;max-width: 307px;"><br>
          The letter <b>W</b> is in the <i>word</i> and in the correct position.
          <img src="{% static 'Example2.jpg' %}" style="width:100%;max-width: 307px;"><br>
          The letter <b>O</b> is in the <i>word</i> but in the wront position.
          <img src="{% static 'Example3.jpg' %}" style="width:100%;max-width: 307px;"><br>
          The letter <b>T</b> is not in the <i>word</i>.<br><br>
      </div>
    </div>

    <div class="support-container" style="display:none">
      <div id="support-me">
          <h1 style="text-align: center;margin-top:3px;font-size: 2rem;width:100%;"> <label style="width:calc(100% - 50px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">DONATE</label>
              <button style="float:right;margin-right:3px" type="button" class="btn btn-light" onclick="close_windows()">X</button>
          </h1>
          <div style="overflow-y:auto;height:calc(100% - 80px)">
              Thank you for your willingness to support me! Your donation will be used to support our development and maintenance costs. <br><br>
              If you would like to offer us a donation, please click <a href="https://settleup.starlingbank.com/zhongyiyan?message=To%20support%20his%20websites" target="_blank">here</a> or scan the QR Code below<br>
              <img src="{% static 'QRCode2.jpg' %}" style="width: 100%;max-width: 180px;" alt=""><br>
              You can also support us through WeChat by scanning the QR Code below<br>
              <img src="{% static 'QrCode.jpg' %}" style="width: 100%;max-width: 180px;" alt=""><br>
              Thank you again for your donation! <br>
          </div>
      </div>
  </div>

  <div class="menu-container" style="display:none">
    <div id="option" onclick="guess_more_option()">{% block mode %}{% endblock mode %}</div>
    <div id="option" onclick="show_hide_rule_view()">How to play</div>
    <div id="option" onclick="show_hide_info_view()">About me</div>
    <div id="option" onclick="open_windows()">Support me</div>
  </div>

    <script src="{% static 'index.js'%}"></script>
    <script src="{% static 'keyboard.js'%}"></script>
</body>
</html>