{% extends 'layout.html' %}

{% block h1 %}Guess another word{% endblock h1 %}

{% block custom-alert-container %}
  <div id="custom-alert-container" style="height: 30px;padding:18px"></div>
{% endblock custom-alert-container %}

{% block body %}
    <div id="table" style="">
        {% for i in range %}
        <div id="cell-{{i}}"></div>
        {% endfor %}
    </div>

    <button class="btn btn-primary" style="min-width:302px;cursor: pointer;" onmousedown="next_word()">Next word</button>

    <div class="keyboard">
        <div class="row alphaUpperLine">
          <div class="q" onclick="enter_key(this.innerHTML)">Q</div>
          <div class="w" onclick="enter_key(this.innerHTML)">W</div>
          <div class="e" onclick="enter_key(this.innerHTML)">E</div>
          <div class="r" onclick="enter_key(this.innerHTML)">R</div>
          <div class="t" onclick="enter_key(this.innerHTML)">T</div>
          <div class="y" onclick="enter_key(this.innerHTML)">Y</div>
          <div class="u" onclick="enter_key(this.innerHTML)">U</div>
          <div class="i" onclick="enter_key(this.innerHTML)">I</div>
          <div class="o" onclick="enter_key(this.innerHTML)">O</div>
          <div class="p" onclick="enter_key(this.innerHTML)">P</div>
        </div>

        <div class="row alphaMiddleLine">
          <div class="extra-space"></div>
          <div class="a" onclick="enter_key(this.innerHTML)">A</div>
          <div class="s" onclick="enter_key(this.innerHTML)">S</div>
          <div class="d" onclick="enter_key(this.innerHTML)">D</div>
          <div class="f" onclick="enter_key(this.innerHTML)">F</div>
          <div class="g" onclick="enter_key(this.innerHTML)">G</div>
          <div class="h" onclick="enter_key(this.innerHTML)">H</div>
          <div class="j" onclick="enter_key(this.innerHTML)">J</div>
          <div class="k" onclick="enter_key(this.innerHTML)">K</div>
          <div class="l" onclick="enter_key(this.innerHTML)">L</div>
          <div class="extra-space"></div>
        </div>

        <div class="row alphaLowerLine">
          <div class="enter" onclick="enter_key(this.innerHTML)">Enter</div>
          <div class="z" onclick="enter_key(this.innerHTML)">Z</div>
          <div class="x" onclick="enter_key(this.innerHTML)">X</div>
          <div class="c" onclick="enter_key(this.innerHTML)">C</div>
          <div class="v" onclick="enter_key(this.innerHTML)">V</div>
          <div class="b" onclick="enter_key(this.innerHTML)">B</div>
          <div class="n" onclick="enter_key(this.innerHTML)">N</div>
          <div class="m" onclick="enter_key(this.innerHTML)">M</div>
          <div class="backspace" onclick="enter_key(this.innerHTML)">DEL</div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block mode %}Today word{% endblock mode %}